<!--Introduction-->
        <section class="intro" id="home">
            <h1 class="section_title section__title--intro">
                Hi, I am <strong> Bryan James C. Mendoza</strong>
            </h1> 
            <p class="section__subtitle section__subtitle--intro">Future Game Programmer</p>                
            <img src='/Assets/images/Bryan.jpg' class="intro__img">
        </section>
        
        <!--Services-->

        <section class="services" id="services">
            <h2 class="section_title section__title--services">What I do</h2>       
                <div class="services">
                     <h3></h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div> <!--service-->
                <div class="services">
                    <h3></h3>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
               </div> <!--service-->
               <div class="services">
                <h3></h3>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           </div> <!--service-->
        </section>

        <!--About Me-->
        <section class="aboutme" id="aboutme">
           
            <h2 class="section_title section__title--aboutme">Who I am</h2>       
            <p class="section__subtitle section__subtitle--aboutme">Future Game Programmer</p>
            <div class="aboutme--body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                 <img src='/Assets/images/Bryan2.jpg' class="aboutme__img">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>         
        </section>

        <!--Project-->
        <section class="project" id="project">
            <h2>Projects</h2>

        <div class="row">
        <div class="column">
            <div class="content">
            <img src='/Assets/images/Work1.jpg' alt="Work1" style="width:100%">
            <h3>Project 1</h3>
            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>
        <div class="column">
            <div class="content">
            <img src='/Assets/images/Work2.jpg' alt="Work2" style="width:100%">
            <h3>Project 2</h3>
            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>
        <div class="column">
            <div class="content">
            <img src='/Assets/images/Work3.jpg' alt="Work3" style="width:100%">
            <h3>Project 3</h3>
            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
        </div>
        <div class="column">
            <div class="content">
            <img src='/Assets/images/Work4.jpg' alt="Work4" style="width:100%">
            <h3>Project 4</h3>
            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            </div>
      </div>
        </section>
