<% include partials/header.ejs%>

<% include partials/nav.ejs%>

<div class="container">
   <h1 style="color:black"> Please Register </h1>
   <form method="POST" autocomplete="off">
    <div class="row">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="email" name="password" placeholder="Enter Email Address" required>
        <input type="displayname" name="displayname" placeholder="Enter Name" required>
        <input type="submit" value="Login">
        </div>
  </form>
</div>

<% include partials/footer.ejs%>